@model Book
@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex align-items-center justify-content-center pt-md-5" >
    <form method="post">
        <div class="p-4 mt-4 border border-light" style="width: 500px">

            <div class="row pb-2">
                <h2 class="text-primary text-center">Edit book</h2>
            </div>


            <div class="mb-3">
                <label asp-for="AuthorId">AuthorId</label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Pages">Pages</label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-around">
                <button asp-controller="Book" asp-action="Edit" type="submit" 
                class="btn btn-primary p-2" style="width: 160px">Update</button>
                <a asp-controller="Book" asp-action="Index" class="btn btn-secondary p-2" style="width: 160px">Back to list</a>
            </div>
        </div>
    </form>
</div>


@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
